name: Compilation_Test
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download repo files
        uses: actions/checkout@v6.0.1
      - name: Compile files
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: Template
          root_file: PrivateLessonsTemplate.tex
      - name: Upload compiled file
        uses: actions/upload-artifact@v6
        with: 
          name: Private_Lessons_Template
          path: Template/PrivateLessonsTemplate.pdf
